{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" style="max-height: 35px; max-width: 35px;">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted.day }}.{{ object.date_posted.month }}.{{ object.date_posted.year }}</small>
        </div>
        <h2 class="article-title">{{object.title}}</h2>
        <p class="article-content">{{ object.content }}</p>
          {% if 'youtube.com' in object.content %}
            <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% endif %}
      </div>
    </article>

    <div class="content-section">
    	<form method="POST">
    		{% csrf_token %}

    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4">Make a comment</legend>
                {{ object.comments }}
    		</fieldset>
            {{object. }}
    		<div class="form-group">
    			<button class="btn btn-outline-info" type="Submit" >Send</button>
    		</div>
    	</form>
    </div>

    <button id="postDeleteButton" class="btn btn-outline-danger" type="Submit">
            Delete Post
    </button>


    <script type="text/javascript">
    document.getElementById("postDeleteButton").onclick = function () {
        location.href = "{% url 'post-delete' object.pk %}";
    };
    </script>

    <script type="text/javascript">
        document.getElementbyClass("article-content") = function convertYoutube($string) {
    return preg_replace(
        "/\s*[a-zA-Z\/\/:\.]*youtu(be.com\/watch\?v=|.be\/)([a-zA-Z0-9\-_]+)([a-zA-Z0-9\/\*\-\_\?\&\;\%\=\.]*)/i",
        "<iframe src=\"//www.youtube.com/embed/$2\" allowfullscreen></iframe>",
        $string
    );
}
    </script>

{% endblock content %}
